name: Update CTA Section
on:
  schedule:
    - cron: '0 1 * * *'  # Runs at 1am UTC
  push:
    branches: [ main ]
jobs:
  update-cta:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up environment
        run: |
          sudo apt-get update
          sudo apt-get install -y jq libxml2-utils
      - name: Configure Git
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Run update script
        run: |
          chmod +x update-cta.sh
          ./update-cta.sh --exclude-web-repo
          sed -i 's/\r$//' index.html
        env:
          BSKY_APP_PASSWORD: ${{ secrets.BSKY_APP_PASSWORD }}
          SUBSTACK_API_KEY: ${{ secrets.SUBSTACK_API_KEY }}
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITH_TOKEN }}
      - name: Commit changes
        run: |
          git config --global user.email "bot@sen-labs.org"
          git config --global user.name "SEN Labs Bot"
          git add index.html
          if [[ `git status --porcelain` ]]; then
            git commit -m "Update CTA previews with latest content"
            git push
            echo "pushed latest changes, done."
          else
            echo "nothing changed, done."
          fi
          
